$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);
$Gradient-start: hsl(6, 100%, 80%) ;
$Gradient-end: hsl(335, 100%, 65%);

*,*::after,*::before{box-sizing: border-box;}

body{
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    place-items: center;

}

.container{
    
    height: 100vh;
    width: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.box-1{
    background-color: $Dark-Blue;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    border-radius: 10px 120px 10px 10px;
}

.logo{
    padding-left: 10%;
}

.icon-row{
    padding-left: 10%;
    display: flex;
    gap: 1em;
}

.icon{
    display: grid;
    place-items: center;
    height: 3em;
    width: 3em;
    border-radius: 10px;
    background-color: $Very-Dark-Blue;
}

.box-2{
    background-color: $Dark-Blue;
    color: $Pale-Blue;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    position: relative;
}

.b2content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label{
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }

    .meter-class{
        
        margin-top: 2em;
        width: 80%;
        background: none;
        background-color: hsl(229, 41%, 18%);
        height: 15px;
        border-radius: 10px;
        position: relative;
    }


    .meter-class:-moz-meter-optimum::-moz-meter-bar {
       
        background-image:linear-gradient(90deg,$Gradient-start,$Gradient-end) ;
        border-radius: 10px;
    }

    meter::-webkit-meter-bar {
        background: none;
        background-color: rgba(18, 28, 65, 0.425);
        height: 15px;
      }

    .meter-class::-webkit-meter-optimum-value {
       
        border-radius: 10px;
        background-image: linear-gradient( 90deg,$Gradient-start,$Gradient-end );
    }

    //White dot on the meter progress only available in webkit browsers
    meter::before{
        content: '';
        background: none;
        display: block;
        background-color: whitesmoke;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        left: 77%;
        top: 5%;
    }
    
}

p{
    position: absolute;
    top: 70px;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    span{
        content: 'content span';
        background-color:$Dark-Blue;
        color: transparent;
        padding: 1px 120px;
        display: inline-block;
        width: 60%;
    }
}


.left{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -15%;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.215);
    padding: 1.5em 2em;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;

    span{
        font-weight: 700;
        font-size: 35px;
        color: black;
     
    }
}

@media(min-width:1000px){
    .container{
        flex-direction: row;
    }
    .box-1{
        max-width:20em
    }
    .box-2{
        position: relative;
    }
    .b2content{
        display: block;
        padding-top: 2em;
    }
    label{
        text-align: start;
        margin-left: 3em;
    }
    .meter-class{
        margin-left: 3em;
    }
    p{  
        top: 6.5em;
        width: 85%;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        span{
            display: inline-block;
            width: 100%;      
        }
    }

    .left{
        position: absolute;
        top: -30%;
        height: 5em;
        left: 50%;
        width: 13em;
        text-align: center;
    }
    .left::after{
        content: '';
        display: block;
        background-color: whitesmoke;
        z-index: 2;
        height: 40px;
        width: 40px;
        clip-path: polygon(0 0,100% 0,100% 100%);
        transform: rotateZ(0);
        position: absolute;
        right: 0;
        top: 90%;
    }
}